In [1]:
import pandas as pd
import numpy as np
import datetime

In [4]:
df = pd.read_csv('minutes/EURCAD.csv', sep=';')

In [35]:
df21 = df.query("Date>20210106 & Date<20210112")

In [36]:
df21['Date'].unique()

array([20210107, 20210108, 20210111], dtype=int64)

In [34]:
df21.values.shape

(2868, 7)

In [39]:
df_daily = pd.read_csv('daily/EURUSD_daily.csv', sep=';')

In [40]:
df_daily

          Date     Open      Low     High    Close         Volume
0     20140102  1.37553  1.36294  1.37746  1.36718  199626.371116
1     20140103  1.36718  1.35820  1.36726  1.35874  195848.901249
2     20140106  1.35935  1.35715  1.36527  1.36277  187620.391405
3     20140107  1.36276  1.35965  1.36562  1.36152  204513.741121
4     20140108  1.36154  1.35529  1.36350  1.35754  210419.931475
...        ...      ...      ...      ...      ...            ...
1883  20210222  1.21151  1.20911  1.21693  1.21551  136092.545672
1884  20210223  1.21551  1.21353  1.21801  1.21493  123596.545570
1885  20210224  1.21493  1.21092  1.21745  1.21664  160048.550791
1886  20210225  1.21630  1.21559  1.22433  1.21740  232552.360951
1887  20210226  1.21718  1.20621  1.21841  1.20704  311728.344181

[1888 rows x 6 columns]